/chromosomes/*
/genes/*
/changesets/*
/logs/*

# Include log configuration
!/logs/config.json

# Include test changesets
!/changesets/test/*

# Include test gene
!/genes/test/test.fa


# Always include .gitignore and README files 
!.gitignore
!README
