/chromosomes/*
/genes/*
/changesets/*
/logs/*.log

# Include test changesets
!/changesets/test/*

# Include test gene
!/genes/test/test.fa


# Always include .gitignore and README files 
!.gitignore
!README
