/chromosomes/*
/genes/*.fa
/genes/modified/*.fa
/genes/modified/*.offsets
/changesets/*.cs
/logs/*

# Include log configuration
!/logs/config.json

# Include test changesets
!/changesets/test/test.*.cs

# Include test gene
!/genes/test/test.fa

# Always include .gitignore and README files 
!.gitignore
!README
